/* Custom scrollbar */
.tabsAside ::-webkit-scrollbar
{
	height: 6px;
	width: 6px;
}

.tabsAside ::-webkit-scrollbar-thumb
{
	background: darkgray;
	border-radius: 3px;
}
	.tabsAside ::-webkit-scrollbar-thumb:hover
	{
		background: gray;
	}

.tabsAside
{
	font-family: 'Segoe UI' ,'DefaultFont';
	font-size: 14px;
	user-select: none;
}

/* Links style */
.tabsAside a
{
	color: #0078d7;
}
	.tabsAside a:hover
	{
		text-decoration: underline;
		cursor: pointer;
	}

	.tabsAside a:visited
	{
		color: #0078d7;
	}

/* Buttons style */
.tabsAside button
{
	width: 28px;
	height: 28px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
	.tabsAside button:hover
	{
		background-color: #f2f2f2;
	}
	.tabsAside button:active
	{
		background-color: gray;
	}

/* Context menus style */
.tabsAside nav
{
	user-select: none;

	position: absolute;
	width: 290px;

	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	background-color: white;
	border-radius: 5px;

	z-index: 10;

	visibility: hidden;
	padding: 4px 0px;
}

	.tabsAside nav hr
	{
		border: none;
		height: 1px;
		background-color: lightgray;
	}

	.tabsAside nav button
	{
		text-align: start;

		padding: 0px 10px;
		width: 100%;

		height: 32px;
		font-family: 'Segoe UI' ,'DefaultFont';
	}

		.tabsAside nav button:hover
		{
			background-color: #eeee;
		}

	.tabsAside button + nav:active,
	.tabsAside button:focus + nav
	{
		visibility: visible;
	}

/* Icon buttons style */
.btn
{
	background-repeat: no-repeat;
	background-size: 12px;
	background-position: center;
}

	.btn.more
	{
		background-image: url("chrome-extension://__MSG_@@extension_id__/icons/more.svg"),
						  url("moz-extension://__MSG_@@extension_id__/icons/more.svg");
	}

	.btn.remove
	{
		background-image: url("chrome-extension://__MSG_@@extension_id__/icons/cancel.svg"),
						  url("moz-extension://__MSG_@@extension_id__/icons/cancel.svg");
	}

@font-face
{
	font-family: 'DefaultFont';
	src: local("Segoe UI"),
		url("chrome-extension://__MSG_@@extension_id__/fonts/WeblySleekUI/weblysleekuisemilight.ttf") format("truetype"),
		url("chrome-extension://__MSG_@@extension_id__/fonts/WeblySleekUI/weblysleekuisemilight.woff") format("woff"),
		url("chrome-extension://__MSG_@@extension_id__/fonts/WeblySleekUI/weblysleekuisemilight.woff2") format("woff2"),

		url("moz-extension://__MSG_@@extension_id__/fonts/WeblySleekUI/weblysleekuisemilight.ttf") format("truetype"),
		url("moz-extension://__MSG_@@extension_id__/fonts/WeblySleekUI/weblysleekuisemilight.woff") format("woff"),
		url("moz-extension://__MSG_@@extension_id__/fonts/WeblySleekUI/weblysleekuisemilight.woff2") format("woff2");
}