.tabsAside[darkmode].background
{
	background-color: rgba(0, 0, 0, .5);
}

.tabsAside[darkmode] .pane
{	
	background-color: #333333;
	color: white;
}

	.tabsAside[darkmode] .saveTabs > div
	{
		filter: invert();
	}

	/* Button style */
	.tabsAside[darkmode] .pane button
	{
		filter: invert();
	}
	.tabsAside[darkmode] .pane button:hover
	{
		background-color: gray;
	}
	.tabsAside[darkmode] .pane button:active
	{
		background-color: dimgray;
	}

	.tabsAside[darkmode] a
	{
		color: #48adff;
	}

	/* Timestamp label */
	.tabsAside[darkmode] > .pane > section small
	{
		color: lightgray !important;
	}

	/* Scrollbar style */
	.tabsAside[darkmode] .pane ::-webkit-scrollbar-thumb
	{
		background: gray;
		border-radius: 3px;
	}
		.tabsAside[darkmode] .pane ::-webkit-scrollbar-thumb:hover
		{
			background: dimgray;
		}

	/* Tab style */
	.tabsAside[darkmode] .pane .collectionSet > .set > div
	{
		background-color: #0c0c0c;
		background-image: url("chrome-extension://__MSG_@@extension_id__/images/tab_thumbnail_dark.png");
	}

		.tabsAside[darkmode] .pane .collectionSet > .set > div > div
		{
			background-color: rgba(50, 50, 50, .75);
		}

			.tabsAside[darkmode] .pane .collectionSet > .set > div > div > div
			{
				background-image: url("chrome-extension://__MSG_@@extension_id__/images/tab_icon_dark.png");
			}

	/* Context menu style */
	.tabsAside[darkmode] .pane nav
	{
		background-color: #3f3f3f;
	}