.tabsAside.background
{
	background-color: rgba(255, 255, 255, .5);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	transition: .2s;
	color: black;
}

.tabsAside.pane
{
	user-select: none;
	position: fixed;

	right: 0px;
	top: 0px;
	bottom: 0px;
	overflow: hidden;
	display: grid;
	grid-template-rows: auto 1fr;

	width: 100%;
	min-width: 500px;

	background-color: #f7f7f7;
	border: 1px solid rgba(100, 100, 100, .5);
	border-width: 0px 0px 0px 1px;
	box-shadow: 6px 0px 12px black;

	font-size: 13px;

	transform: translateX(110%);	/* pane is hidded */
	transition: .2s;
}

	aside[embedded]
	{
		width: 500px !important;
	}

	.tabsAside.pane[opened]
	{
		transform: translateX(0px);
	}

	/* Pane header*/
	.tabsAside.pane > header
	{
		z-index: 1;
		padding: 14px 20px 16px 20px;
		box-shadow: 0px 0px 5px rgba(0,0,0,.5);
		background-color: white;
	}
		.tabsAside.pane > header > div
		{
			display: grid;
			grid-template-columns: 1fr auto auto;
			grid-column-gap: 10px;
			margin-bottom: 29px;
		}

			.tabsAside.pane > header > div > h1
			{
				margin: 0px 5px;
				font-weight: 500;
				font-size: 15pt;
			}

			.tabsAside.pane > header > div > nav
			{
				top: 45px;
				right: 55px;
			}

				.tabsAside.pane > header nav > p
				{
					margin: 10px;
				}

					.tabsAside.pane > header nav > p > a
					{
						text-decoration: none;
					}

		.saveTabs
		{
			display: inline-grid;
			grid-template-columns: 16px auto;
			grid-column-gap: 15px;

			font-weight: 600;
		}

		.iconArrowRight
		{
			width: 16px;
			height: 16px;
			display: inline-block;
			background-repeat: no-repeat;
			background-size: 16px;
			background-position: center;
			background-image: url("chrome-extension://__MSG_@@extension_id__/icons/arrowRight.svg"),
							  url("moz-extension://__MSG_@@extension_id__/icons/arrowRight.svg");
			margin: 2px;
		}

	.tabsAside.pane section
	{
		overflow: auto;
	}

	.tabsAside.pane > section > h2
	{
		margin: 20px;
		font-weight: normal;
	}

	/* Collection header */
	.tabsAside.pane > section > div
	{
		transition: .2s;
	}

	.collectionSet
	{
		background-color: white;
		margin: 10px;
		border-radius: 5px;
		border: 1px solid #eee;
	}

	.collectionSet:hover
	{
		box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
	}

	.collectionSet .header > *
	{
		visibility: hidden;
	}

	.collectionSet:hover .header > *
	{
		visibility: visible;
	}

	.collectionSet > .header
	{
		margin: 10px 10px 0px 20px;
		display: grid;
		grid-template-columns: 1fr auto auto auto;
		grid-column-gap: 10px;
		align-items: center;
	}

		.collectionSet > .header > small
		{
			color: gray;
			visibility: visible !important;
		}

		.collectionSet > .header > input
		{
			margin: 0px;
			visibility: visible !important;
			font-weight: 500;
			border: none;
			background: transparent;
		}

		.collectionSet > .header > input:hover
		{
			border: 1px solid black;
		}

		.collectionSet > .header > a
		{
			font-size: 11pt;
		}

		.collectionSet > .header > div > nav
		{
			width: 250px;
			right: 60px;
		}

		/* Tabs collection */
		.collectionSet > .set
		{
			padding: 5px 10px;
			white-space: nowrap;
			overflow: auto;
		}

			.collectionSet > .set::-webkit-scrollbar-thumb
			{
				visibility: hidden;
			}

			.collectionSet > .set:hover::-webkit-scrollbar-thumb
			{
				visibility: visible;
			}

			.collectionSet > .set > div
			{
				width: 175px;
				height: 148px;
				margin: 5px;

				background-color: #c2c2c2;
				background-image: url("chrome-extension://__MSG_@@extension_id__/images/tab_thumbnail.png"),
								  url("chrome-extension://__MSG_@@extension_id__/images/tab_thumbnail.png");
				background-size: cover;
				background-position-x: center;

				display: inline-grid;
				grid-template-rows: 1fr auto;

				transition: .25s;
				cursor: pointer;

				border: 1px solid #eee;
				border-radius: 5px;
			}
				.collectionSet > .set > div:hover
				{
					box-shadow: 0px 0px 5px rgba(100, 100, 100, .5);
				}

				.collectionSet > .set > div > div
				{
					background-color: rgba(233, 233, 233, .75);
					grid-row: 2;
					display: grid;
					grid-template-columns: auto 1fr auto;
				}

					.collectionSet > .set > div > div > button
					{
						margin: auto;
						margin-right: 5px;
						display: none;
					}

					.collectionSet > .set > div:hover > div > button
					{
						display: initial;
					}

					.collectionSet > .set > div > div > div
					{
						width: 20px;
						height: 20px;
						margin: 8px;

						background-image: url("chrome-extension://__MSG_@@extension_id__/images/tab_icon.png"),
										  url("moz-extension://__MSG_@@extension_id__/images/tab_icon.png");
						background-size: 20px;
					}

					.collectionSet > .set > div > div > span
					{
						overflow: hidden;
						margin: auto 0px;
						margin-right: 10px;
					}
					.collectionSet > .set > div:hover > div > span
					{
						margin-right: 5px;
					}

@media only screen and (max-width: 500px)
{
	.tabsAside.pane
	{
		width: 100% !important;
		min-width: initial;
	}
}