html,
body
{
	padding: 0;
	margin: 0;

	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;

	overflow: hidden;
}

*
{
	margin: 0;
	box-sizing: border-box;
}

#root > .fui-FluentProvider
{
	height: 100vh;
	overflow: hidden;
}

/* width */
::-webkit-scrollbar
{
	width: 8px;
	height: 8px;
}

/* Track */
::-webkit-scrollbar-track
{
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb
{
	/* eslint-disable-next-line css/no-invalid-properties */
	background-color: var(--colorNeutralStroke1);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover
{
	/* eslint-disable-next-line css/no-invalid-properties */
	background-color: var(--colorNeutralStroke1Hover);
}

::-webkit-scrollbar-thumb:hover:active
{
	/* eslint-disable-next-line css/no-invalid-properties */
	background-color: var(--colorNeutralStroke1Pressed);
}
