section.CollectionView
{
	--border: 1px solid var(--colorNeutralStroke3);
	--title: var(--colorNeutralForeground1);

	border-radius: 6px;
	border: var(--border);
	padding: 10px;

	> header
	{
		display: flex;
		flex-flow: row;
		justify-content: space-between;

		.CollectionTitle
		{
			color: var(--title);
		}
	}

	&:hover
	{
		box-shadow: var(--shadow2);
	}

	.TabsCollection
	{
		display: grid;
		grid-auto-flow: column;
		justify-content: flex-start;
		gap: 10px;
		overflow-x: auto;
		padding: 5px;
		align-items: end;
	}

	&.grey
	{
		--border: 2px solid var(--colorPalettePlatinumBorderActive);
		--title: var(--colorPalettePlatinumForeground2);
	}
	&.blue
	{
		--border: 2px solid var(--colorPaletteBlueBorderActive);
		--title: var(--colorPaletteBlueBorderActive);
	}
	&.red
	{
		--border: 2px solid var(--colorPaletteRedBorderActive);
		--title: var(--colorPaletteRedBorderActive);
	}
	&.yellow
	{
		--border: 2px solid var(--colorPaletteYellowBorderActive);
		--title: var(--colorPaletteYellowForeground2);
	}
	&.green
	{
		--border: 2px solid var(--colorPaletteLightGreenBorderActive);
		--title: var(--colorPaletteLightGreenForeground1);
	}
	&.pink
	{
		--border: 2px solid var(--colorPalettePinkBorderActive);
		--title: var(--colorPalettePinkForeground2);
	}
	&.purple
	{
		--border: 2px solid var(--colorPalettePurpleBorderActive);
		--title: var(--colorPalettePurpleForeground2);
	}
	&.cyan
	{
		--border: 2px solid var(--colorPaletteTealBorderActive);
		--title: var(--colorPaletteTealForeground2);
	}
	&.orange
	{
		--border: 2px solid var(--colorPalettePeachBorderActive);
		--title: var(--colorPalettePeachForeground2);
	}
}
