section.CollectionView.ListView
{
	.TabsCollection
	{
		grid-auto-flow: row;
		max-height: 400px;
		justify-content: stretch;
		gap: 10px;

		.TabView
		{
			height: auto;
			width: 100%;
			margin-bottom: 0;

			> svg
			{
				display: none;
			}
		}

		> .GroupView
		{
			gap: 0;
			padding-bottom: 6px;

			> header
			{
				border-radius: 0;

				> div
				{
					border-radius: 6px 6px 0 0;
				}
			}

			> .TabsCollection
			{
				border-left-width: 2px;
				border-left-style: solid;
				padding: 6px;
			}
		}
	}
}
