html, body, #root
{
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	user-select: none;
}

.stack
{
	display: flex;
	flex-direction: column;

	&.horizontal
	{
		flex-direction: row;
		align-items: flex-start;
	}

	&.gap
	{
		gap: 10px;
	}

	&.center
	{
		align-items: center;
	}

	&.wrap
	{
		flex-wrap: wrap;
	}

	&.end
	{
		align-self: flex-end;
	}
}

a.fui-Button.bmc
{
	background-color: var(--colorPaletteDarkOrangeBorder2) !important;

	&:hover
	{
		background-color: var(--colorPaletteDarkOrangeForeground1) !important;
	}

	&:active
	{
		background-color: var(--colorPaletteDarkOrangeBackground2) !important;
	}
}

h1, h2, h3, h4, h5, h6, p
{
	margin: 0;
}
